venv/
*.csv
**/*.pkl
node_modules/
CUSTOM_YOLO_DATA/
pics/
*.h5
*/.env
backend/backend/backend/.env
*/ly-project-8891c-firebase-adminsdk-e7ien-f03f6f6cc8.json
__pycache__/
backend/logs/scheduled_jobs.log
